In [93]:
import random

def ten_random_num ():
    atsitiktiniai_skaiciai = [random.randint(1, 100) for _ in range(10)]
    rikiuoti_skaicius = sorted(atsitiktiniai_skaiciai)
    print(rikiuoti_skaicius)

print(ten_random_num())

[17, 25, 48, 55, 62, 77, 77, 79, 81, 89]
None

In [94]:
import random

kauliukai = [random.randint(1, 6) for _ in range (3)]

while True:
    for skaicius in kauliukai:
        if skaicius == 5:
            print ("Laimejai!")
            break
    else: 
        print ("Pralaimejai")
        break
    break

Pralaimejai

In [95]:
import calendar

def savaitgalio_dienos_menesyje(metai, menuo):
    print(calendar.month(metai, menuo))
   

    _, menesio_ilgis = calendar.monthrange(metai, menuo)

    savaitgalio_dienos = 0
    for diena in range(1, menesio_ilgis + 1):
        savaites_diena = calendar.weekday(metai, menuo, diena)
        if savaites_diena == 5 or savaites_diena == 6:
            savaitgalio_dienos += 1

    print(savaitgalio_dienos)

savaitgalio_dienos_menesyje(2023, 5)

      May 2023
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

8

In [96]:
import calendar

def savaitgalio_dienos_menesyje(metai, menuo):
    print(calendar.month(metai, menuo))

    _, menesio_ilgis = calendar.monthrange(metai, menuo)

    savaitgalio_dienos = 0
    for diena in range(1, menesio_ilgis + 1):
        savaites_diena = calendar.weekday(metai, menuo, diena)
        if savaites_diena == 5 or savaites_diena == 6:
            savaitgalio_dienos += 1

    print(savaitgalio_dienos)

savaitgalio_dienos_menesyje(2023, 5)

      May 2023
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

8

In [97]:
import calendar

def spausdinti_menesio_kalendoriu_suskaiciuojant_savaitgalius(metai, menesis):
    print(calendar.month(metai, menesis))

    _, menesio_ilgis = calendar.monthrange(metai, menesis) # gauna kokia yra pirma menesio diena, ir kiek yra dienu menesyje

    savaitgalio_dienos = 0
    for diena in range(1, menesio_ilgis + 1): #patikrina kiekviena diena menesyje
        savaites_diena = calendar.weekday(metai, menesis, diena) # indeksuoja kiekviena savaites diena nuo 0 (pirmadienis) iki 6 (sekmadienis)
        if savaites_diena == 5 or savaites_diena == 6: # jeigu indeksuota diena yra 5 (sestadienis) arba 6 (sekmadienis)
            savaitgalio_dienos += 1 #pridedama papildoma savaitgalio diena

    print(f"Savaitgalio dienų skaičius šiame mėnesyje: {savaitgalio_dienos}")

In [98]:
from datetime import datetime

dabar = datetime.now()

print(dabar)

2023-04-28 09:00:56.519165

In [99]:
from datetime import datetime

sis_momentas = datetime.now()
format = "%M:%S"

tik_laikas = sis_momentas.strftime(format)
print(tik_laikas)

00:56

In [100]:
from datetime import datetime

def kiek_liko_laiko_iki_gimtadienio(metai, menuo, diena):
    gimimo_metai_stringu = f"{metai}-{menuo}-{diena}"
    suformatuota_g_d = "%Y-%m-%d"

    gimimo_metai = datetime.strptime(gimimo_metai_stringu, suformatuota_g_d)

    menuo_ir_dienos = datetime(2023, 12, 12 )

    liko_dienu = (menuo_ir_dienos - gimimo_metai).days

    return liko_dienu

print(kiek_liko_laiko_iki_gimtadienio(1996, 12, 17))

9856

In [101]:
from datetime import datetime, timedelta

def dienos_iki_gimtadienio(gimimo_data):
    gimimo_data_format = datetime.strptime(gimimo_data, "%Y-%m-%d")
    siandiena = datetime.now()
    gimtadienio_data = gimimo_data_format.replace(year=siandiena.year)

    if gimtadienio_data < siandiena:
        gimtadienio_data = gimtadienio_data.replace(year=siandiena.year + 1)

    skirtumas = gimtadienio_data - siandiena
    return skirtumas.days

gimimo_data = "2000-05-15"
print(f"Liko {dienos_iki_gimtadienio(gimimo_data)} dienos (-ų) iki gimtadienio.")

Liko 16 dienos (-ų) iki gimtadienio.

In [102]:
from datetime import datetime, timedelta

def date_plus_48 (date_string):
    format_string = "%Y-%m-%d %H:%M:%S"

    date = datetime.strptime(date_string, format_string)

    new_date = date + timedelta(hours=48)

    return new_date

date_string = "2023-04-24 14:18:20"
print(date_plus_48(date_string))

2023-04-26 14:18:20

In [103]:
from datetime import datetime
import time

def time_stamp_differece (date1, date2):
    date1 = datetime(2023, 4, 26)
    date2 = datetime(2022, 7, 21)

    timestamp1 = time.mktime(date1.timetuple())
    timestamp2 = time.mktime(date2.timetuple())

    difference= abs(timestamp1 - timestamp2)

    return difference

print (time_stamp_differece(date1, date2))

date1 = 2023-04-26
date2 = 2022-07-21

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (809077120.py, line 17)

In [ ]:
from datetime import datetime
import time

def time_stamp_difference(date1, date2):
    timestamp1 = time.mktime(datetime.strptime(date1, "%Y-%m-%d").timetuple())
    timestamp2 = time.mktime(datetime.strptime(date2, "%Y-%m-%d").timetuple())

    difference = abs(timestamp1 - timestamp2)

    return difference

date1 = "2023-04-26"
date2 = "2022-07-21"

print(time_stamp_difference(date1, date2))

24105600.0

In [ ]:
from datetime import datetime
import time

def time_stamp_difference(timestamp1, timestamp2):
    date1 = datetime.fromtimestamp(timestamp1)
    date2 = datetime.fromtimestamp(timestamp2)

    difference  = abs(date2 -date1)

    return difference.days

timestamp1 = 1632562679
timestamp2 = 1655507478

print(time_stamp_difference(timestamp1, timestamp2))

265

In [ ]:
from datetime import datetime

utc_now = datetime.utcnow()
print(utc_now)

2023-04-24 12:11:22.293208

In [ ]:
from zoneinfo import ZoneInfo
from datetime import datetime

laikas = datetime(2023, 4, 12, 15, 12, tzinfo = ZoneInfo("Europe/Vilnius"))

print(laikas)

2023-04-12 15:12:00+03:00

In [ ]:
from zoneinfo import available_timezones

for timezone in available_timezones():
    print(timezone)

Asia/Atyrau
Asia/Tashkent
Pacific/Kiritimati
America/Argentina/San_Luis
America/Buenos_Aires
Asia/Yekaterinburg
Africa/Ouagadougou
Asia/Pontianak
Europe/Rome
Australia/Eucla
Portugal
America/Resolute
America/Anchorage
Etc/GMT+0
Europe/Tiraspol
Asia/Omsk
Indian/Cocos
GMT-0
America/Halifax
Asia/Dili
Asia/Bangkok
MET
Asia/Khandyga
Europe/Skopje
Europe/Helsinki
Asia/Makassar
America/Lima
America/Marigot
America/Creston
Asia/Chungking
Atlantic/Azores
Pacific/Auckland
America/Indianapolis
Navajo
Asia/Istanbul
Etc/GMT-8
Atlantic/Bermuda
Africa/Asmera
Europe/Guernsey
Etc/UCT
America/Shiprock
Asia/Saigon
Europe/Vatican
Europe/Belgrade
Etc/GMT+12
Pacific/Noumea
Pacific/Majuro
America/Porto_Acre
GMT0
Pacific/Enderbury
Europe/Paris
Pacific/Chatham
America/Coral_Harbour
Europe/Isle_of_Man
America/Cancun
America/Goose_Bay
US/Samoa
Europe/Monaco
Asia/Muscat
America/Cayenne
US/East-Indiana
Europe/Vienna
America/Catamarca
America/St_Kitts
America/Panama
America/Jamaica
America/Knox_IN
Africa/Kigali
Iran
Africa/Asmara
ROK
Asia/Nicosia
America/Maceio
Asia/Kolkata
Etc/Universal
Europe/Warsaw
PST8PDT
Africa/Bamako
America/Manaus
America/Eirunepe
US/Mountain
Asia/Katmandu
Pacific/Guadalcanal
Europe/Kaliningrad
Africa/Freetown
America/Indiana/Indianapolis
Israel
Indian/Chagos
America/Chicago
America/Indiana/Knox
America/Antigua
America/Grenada
Asia/Macao
Asia/Sakhalin
America/Argentina/ComodRivadavia
Asia/Aqtau
Africa/Dakar
Europe/Jersey
Europe/Kirov
Europe/Prague
America/Jujuy
Asia/Hovd
Canada/Saskatchewan
Antarctica/Vostok
America/Atikokan
Etc/GMT+9
Africa/Dar_es_Salaam
Etc/GMT-3
Etc/GMT-7
Chile/Continental
Europe/Madrid
Europe/San_Marino
Etc/Greenwich
Europe/Dublin
Etc/GMT+6
America/Martinique
Canada/Newfoundland
America/Nipigon
Brazil/Acre
Australia/Currie
Europe/Budapest
Asia/Kuala_Lumpur
Etc/GMT-9
Africa/Bangui
America/Fort_Nelson
America/Sao_Paulo
Asia/Damascus
Etc/GMT+1
Factory
Brazil/East
America/Fortaleza
Indian/Reunion
America/Bogota
Europe/Zurich
America/Godthab
Asia/Famagusta
Africa/Niamey
Africa/Lubumbashi
America/Dawson_Creek
America/Tijuana
Indian/Comoro
America/Metlakatla
Pacific/Galapagos
Asia/Kuching
Antarctica/DumontDUrville
America/Regina
America/North_Dakota/New_Salem
Pacific/Rarotonga
America/Indiana/Tell_City
Africa/Lagos
Jamaica
Africa/Libreville
America/Santa_Isabel
Africa/Nouakchott
Asia/Kamchatka
Europe/Riga
Africa/Brazzaville
Zulu
Kwajalein
Africa/Blantyre
GB
Atlantic/Stanley
America/Asuncion
Africa/Gaborone
Europe/Istanbul
Pacific/Kosrae
Australia/Queensland
America/Campo_Grande
Asia/Thimphu
America/Port_of_Spain
Australia/West
Asia/Tel_Aviv
HST
Africa/Bujumbura
EST5EDT
Africa/Abidjan
Brazil/West
Pacific/Tahiti
Pacific/Easter
UTC
Asia/Almaty
America/Cambridge_Bay
America/Cuiaba
Asia/Ashgabat
Africa/Luanda
America/Pangnirtung
America/Nome
Etc/GMT-4
America/Thule
Antarctica/Palmer
America/Mendoza
Africa/Windhoek
America/Swift_Current
Africa/Ndjamena
Asia/Jerusalem
Canada/Pacific
America/Rio_Branco
Europe/Kyiv
Japan
Asia/Aqtobe
Europe/Belfast
Europe/Mariehamn
Pacific/Efate
Australia/ACT
Asia/Singapore
Pacific/Tongatapu
America/Ensenada
Europe/Uzhgorod
Europe/Chisinau
Europe/Stockholm
CET
Pacific/Wallis
America/St_Lucia
Africa/Cairo
America/Punta_Arenas
America/Port-au-Prince
Asia/Anadyr
Europe/Ulyanovsk
Pacific/Samoa
America/Dawson
Europe/Zaporozhye
Pacific/Port_Moresby
America/Argentina/Rio_Gallegos
Asia/Barnaul
Atlantic/Reykjavik
MST7MDT
Asia/Qostanay
Asia/Seoul
America/Rosario
Asia/Irkutsk
Pacific/Kanton
Asia/Ulaanbaatar
Africa/Accra
Asia/Riyadh
Indian/Antananarivo
America/Moncton
America/Merida
Europe/Busingen
Asia/Choibalsan
Hongkong
Africa/Lusaka
W-SU
Africa/El_Aaiun
Atlantic/Canary
America/Virgin
America/Phoenix
America/Ciudad_Juarez
Asia/Qatar
Asia/Qyzylorda
Africa/Porto-Novo
Asia/Bishkek
Etc/GMT0
America/Argentina/San_Juan
Pacific/Niue
Europe/Samara
America/Hermosillo
Asia/Kuwait
America/Denver
Asia/Vientiane
Pacific/Chuuk
America/Thunder_Bay
Canada/Eastern
Asia/Taipei
Canada/Mountain
Atlantic/South_Georgia
America/Guadeloupe
Africa/Tripoli
America/Guyana
Asia/Karachi
Africa/Sao_Tome
Africa/Kampala
Asia/Magadan
Pacific/Honolulu
Asia/Baghdad
America/Blanc-Sablon
America/Guayaquil
Asia/Amman
Etc/GMT-11
America/Indiana/Vevay
Asia/Kathmandu
America/Nassau
Etc/GMT-2
Europe/Bratislava
Europe/Volgograd
Australia/Perth
America/Tegucigalpa
Pacific/Guam
US/Arizona
America/Menominee
Egypt
America/Argentina/Salta
Asia/Pyongyang
Europe/Lisbon
Asia/Yangon
America/Argentina/Cordoba
Africa/Mogadishu
Indian/Christmas
America/Curacao
Etc/GMT+4
America/Atka
America/Argentina/Tucuman
Africa/Timbuktu
Singapore
America/Fort_Wayne
America/Glace_Bay
Europe/Brussels
Asia/Dubai
Brazil/DeNoronha
America/Santo_Domingo
Europe/Astrakhan
Australia/Brisbane
America/Montevideo
Antarctica/McMurdo
America/Miquelon
Mexico/BajaNorte
UCT
Europe/Copenhagen
Europe/Kiev
Asia/Vladivostok
Australia/Victoria
Africa/Casablanca
Atlantic/Jan_Mayen
Africa/Johannesburg
Asia/Kashgar
Europe/Amsterdam
NZ
US/Aleutian
Europe/Tallinn
Asia/Ust-Nera
US/Michigan
ROC
Australia/Sydney
Asia/Gaza
Africa/Maputo
America/Detroit
America/Adak
America/Rankin_Inlet
America/Caracas
Asia/Manila
Asia/Urumqi
America/Nuuk
America/Matamoros
Antarctica/Troll
America/Grand_Turk
Asia/Tehran
Europe/Malta
Africa/Malabo
Africa/Harare
America/Bahia_Banderas
Africa/Khartoum
Pacific/Ponape
Asia/Shanghai
US/Central
Africa/Tunis
US/Pacific
Pacific/Gambier
Europe/Oslo
America/Montserrat
America/Indiana/Marengo
Africa/Monrovia
Indian/Kerguelen
Africa/Addis_Ababa
Europe/Gibraltar
Africa/Maseru
America/St_Johns
America/Indiana/Vincennes
EST
Europe/Ljubljana
WET
America/Mazatlan
Antarctica/Syowa
America/Sitka
GB-Eire
Atlantic/Faroe
Mexico/General
Asia/Tokyo
Asia/Srednekolymsk
Etc/GMT-0
Africa/Algiers
Asia/Hebron
Antarctica/Davis
Pacific/Apia
US/Eastern
America/St_Thomas
Antarctica/Macquarie
Pacific/Tarawa
Europe/Berlin
Europe/Nicosia
Pacific/Norfolk
Indian/Mayotte
Asia/Dhaka
Europe/Sofia
America/Montreal
Australia/Canberra
America/Juneau
America/Cayman
America/Scoresbysund
Africa/Banjul
EET
Asia/Dacca
Europe/Vaduz
Australia/Lord_Howe
Canada/Yukon
America/El_Salvador
Australia/Broken_Hill
America/Kentucky/Louisville
Etc/GMT-6
Asia/Novokuznetsk
Pacific/Yap
Cuba
Indian/Maldives
America/St_Vincent
America/Indiana/Petersburg
America/Ojinaga
Europe/Athens
Australia/Lindeman
US/Hawaii
Europe/Minsk
Asia/Rangoon
Eire
America/North_Dakota/Beulah
Antarctica/Casey
America/Argentina/La_Rioja
Etc/GMT+3
Asia/Chita
Pacific/Truk
GMT
Asia/Ulan_Bator
Libya
America/La_Paz
Chile/EasterIsland
Australia/Hobart
Etc/GMT-14
Pacific/Wake
Atlantic/Cape_Verde
America/Recife
America/Argentina/Jujuy
Indian/Mauritius
Australia/South
Etc/UTC
America/Whitehorse
America/Kralendijk
Asia/Beirut
Asia/Macau
Antarctica/Rothera
America/Santiago
Australia/Tasmania
Universal
Canada/Atlantic
Australia/Darwin
PRC
Etc/GMT-12
US/Indiana-Starke
America/New_York
America/Havana
America/Aruba
Pacific/Funafuti
Africa/Bissau
Arctic/Longyearbyen
America/Louisville
America/Inuvik
America/Porto_Velho
Australia/North
America/Monterrey
Etc/GMT+2
Asia/Krasnoyarsk
America/Lower_Princes
America/Indiana/Winamac
America/Toronto
Pacific/Palau
Australia/NSW
America/Belize
America/Boa_Vista
America/Costa_Rica
Etc/GMT+8
Australia/Adelaide
Europe/Andorra
America/Tortola
Europe/Vilnius
America/Boise
Australia/LHI
Asia/Colombo
America/Kentucky/Monticello
Pacific/Pitcairn
Etc/GMT-10
Asia/Phnom_Penh
US/Alaska
Antarctica/Mawson
Europe/Tirane
Asia/Samarkand
America/Noronha
America/Rainy_River
Etc/Zulu
Asia/Calcutta
Pacific/Fakaofo
America/Managua
Asia/Baku
Africa/Ceuta
Etc/GMT+5
America/Paramaribo
America/Anguilla
America/Danmarkshavn
Europe/Zagreb
Europe/Podgorica
America/Belem
America/Barbados
Etc/GMT+11
GMT+0
Etc/GMT-5
Antarctica/South_Pole
America/Vancouver
Asia/Bahrain
Asia/Jayapura
America/St_Barthelemy
Asia/Hong_Kong
Pacific/Marquesas
Europe/Bucharest
Greenwich
Poland
America/Iqaluit
Indian/Mahe
Atlantic/St_Helena
Pacific/Bougainville
America/Argentina/Buenos_Aires
Etc/GMT+7
Africa/Nairobi
Africa/Mbabane
Asia/Kabul
Asia/Ho_Chi_Minh
Pacific/Johnston
Africa/Djibouti
Europe/Saratov
Europe/London
America/Edmonton
America/Argentina/Ushuaia
Asia/Brunei
Asia/Tomsk
Africa/Kinshasa
Asia/Thimbu
Atlantic/Madeira
Asia/Dushanbe
Etc/GMT-1
America/Cordoba
Pacific/Saipan
Europe/Moscow
Africa/Douala
Asia/Aden
America/Puerto_Rico
America/Guatemala
Iceland
America/Chihuahua
America/Winnipeg
Asia/Tbilisi
America/Santarem
Canada/Central
Asia/Ashkhabad
America/Araguaina
Asia/Harbin
Africa/Juba
NZ-CHAT
Europe/Sarajevo
Europe/Luxembourg
Etc/GMT+10
America/Mexico_City
MST
Pacific/Fiji
Asia/Novosibirsk
Australia/Melbourne
Pacific/Pohnpei
America/Los_Angeles
Etc/GMT-13
Turkey
America/Yakutat
Africa/Lome
Asia/Yakutsk
America/Argentina/Mendoza
Asia/Jakarta
Asia/Ujung_Pandang
Pacific/Kwajalein
Pacific/Pago_Pago
Pacific/Midway
CST6CDT
America/Dominica
America/Argentina/Catamarca
Etc/GMT
Asia/Chongqing
America/Yellowknife
Asia/Oral
Atlantic/Faeroe
Australia/Yancowinna
Pacific/Nauru
America/Bahia
Africa/Conakry
Asia/Yerevan
Mexico/BajaSur
America/North_Dakota/Center
Europe/Simferopol

In [ ]:
from zoneinfo import ZoneInfo
from datetime import datetime

laikas = datetime(2023, 4, 12, 15, 12, tzinfo = ZoneInfo("Europe/Vilnius"))

print(laikas.tzinfo)

Europe/Vilnius

In [ ]:
from datetime import datetime
from zoneinfo import ZoneInfo

utc_now = datetime.utcnow()
print(utc_now)
vilnius_timezone = utc_now.replace(tzinfo=ZoneInfo("UTC")).astimezone(ZoneInfo("Europe/Vilnius"))
print(vilnius_timezone)

2023-04-24 12:31:40.877058
2023-04-24 15:31:40.877058+03:00

In [ ]:
from datetime import datetime
from zoneinfo import ZoneInfo

utc_now = datetime.utcnow().replace(tzinfo=ZoneInfo("UTC"))
print(utc_now)
vilnius_time = utc_now.astimezone(ZoneInfo("Europe/Vilnius"))
print(vilnius_time)

2023-04-24 12:31:43.477573+00:00
2023-04-24 15:31:43.477573+03:00

In [ ]:
def spausdinti_menesio_kalendoriu_suskaiciuojant_savaitgalius(metai, menesis):
    print(calendar.month(metai, menesis))

    _,menesio_ilgis = calendar.monthrange(metai, menesis)
    savaites_dienos = 0
    for diena in range(1, menesio_ilgis +1):
        savaites_diena = calendar.weekday(metai, menesis, diena)
        if savaites_diena == 5 or savaites_diena == 6:
            savaites_dienos += 1

        print(savaites_dienos)

In [ ]:
from datetime import datetime

def what_week_day (date):
    format_string = "%Y-%m-%d"

    date_object = datetime.strptime(date, format_string)

    today = date_object.weekday()

    if today == 0:
        return "Monday"
    elif today == 1:
        return "Tuesday"
    elif today == 2:
        return "Wednesday"
    elif today == 3:
        return "Thursday"
    elif today == 4:
        return "Friday"
    elif today == 5:
        return "Saturday"
    elif today == 6:
        return "Sunday"
    else: return "Error"


date = "2023-04-28"
print (what_week_day(date))

Friday

In [ ]:
with open("pakeitimai.txt", "r") as failas:
    contents = failas.read()
    swapped = contents.swapcase()
    print(swapped)

SVEIKI VISI
SIANDIEN MES MOKYSIMES DIRBTI SU FAILU SISTEMOMIS
BUS LABAI SMAGU!

In [ ]:
with open("pakeitimai.txt", "r") as failas:
    contents = failas.read()
    print(contents)

sveiki visi
siandien mes mokysimes dirbti su failu sistemomis
bus labai smagu!

In [ ]:
with open("skaiciai.txt", "w") as failas:
    for x in range(1, 101):
        failas.write(str(x) + "\n")

In [ ]:
with open("pakeitimai.txt", "r") as failas:
    failas.seek(0,2)
    failo_ilgis = failas.tell()
    vidurys = failo_ilgis // 2

    failas.seek(vidurys)
    likusi_dalis = failas.read()
    print(likusi_dalis)

ti su failu sistemomis
bus labai smagu!

In [ ]:
with open("eilutes.txt", "a") as failas:
    failas.write("\nPetras Anskaitis\n")

In [ ]:
with open ("eilutes.txt", "r") as failas:
    eiluciu_tekstas = failas.read()
    print(eiluciu_tekstas)

Saulėlydis žėri žemę švelniai.
Vakare vėjas šnypščia medžius.
Vėjas nerimsta, šnypščia ir švilpia.Petras Anskaitis
Petras Anskaitis
Petras Anskaitis
Petras Anskaitis
Petras Anskaitis

Petras Anskaitis

In [ ]:
with open ("eilutes.txt") as failas:
    for eilute in failas:
        if "vejas" in eilute:
            print (eilute)

In [ ]:
with open ("test.txt", "r") as file:
    position = file.tell()
    print (position)

0

In [ ]:
with open ("test.txt", "r") as file:
    file.seek(10)
    content = file.read()
    print(content)

In [ ]:
with open ("test.txt", "r") as file:
    position = file.tell()
    print (position)

0

In [ ]:
import os

katalogo_kelias = 'Mano_katalogas'
if not os.path.exists(katalogo_kelias):
    os.makedirs(katalogo_kelias)

In [ ]:
import os

failo_kelias = "Mano_katalogas"
if os.path.exists(failo_kelias):
    print(f"Failas '{failo_kelias}' egzistuoja.")
else:
    print(f"Failas '{failo_kelias}' neegzistuoja.")

Failas 'Mano_katalogas' egzistuoja.

In [ ]:
import os

failo_kelias = "tekstas.txt"
if os.path.exists(failo_kelias):
    os.remove(failo_kelias)
else:
    print (f"Failas '{failo_kelias}' neegzistuoja.")

In [ ]:
list = [1, 3, 34, 22, 56, 4, 9, 2, 11]

double_num = filter(lambda x : x > 10, list)
numbers = map(lambda x: x*2, double_num)

print(numbers)

<map object at 0x106899450>

In [ ]:
from functools import reduce
import operator

skaiciai = [1, 2, 3, 4, 5]

suma = reduce(lambda x, y: x*y, skaiciai)

print(suma)

120

In [ ]:
import statistics

skaiciai = [1, 2, 3, 4, 5]

print(sum(skaiciai))
print(max(skaiciai))
print(min(skaiciai))
print(statistics.mean(skaiciai))
print(statistics.median(skaiciai))

15
5
1
3
3

In [ ]:
skaiciai = [1, 2, 3, 4, 5, 6, 7, 8, 9]

istriju = sorted(skaiciai, key=lambda x: x % 3)

print(istriju)

[3, 6, 9, 1, 4, 7, 2, 5, 8]

In [ ]:
skaiciai = [1, 2, 3, 4, 5, 6, 7, 8, 9]

lyginiai_skaiciai = list(filter(lambda x: x % 2 == 0, skaiciai))
ave_lyginiai_skaiciai = reduce(lambda x, y : (x*y)/ len(lyginiai_skaiciai), lyginiai_skaiciai)

print(ave_lyginiai_skaiciai)

NameError: name 'reduce' is not defined

In [ ]:
# Sukuriame sąrašą
my_list = [1, 2, 3, 4, 5]

# Sukuriame iteratoriaus objektą
my_iterator = iter(my_list)

# Iteruojame per iteratoriaus elementus su next() metodu
try:
    print(next(my_iterator)) # 1
    print(next(my_iterator)) # 2
    print(next(my_iterator)) # 3
    print(next(my_iterator)) # 4
    print(next(my_iterator)) # 5
    print(next(my_iterator)) # sukels StopIteration išimtį
except StopIteration:
    print("Baigta iteracija")

1
2
3
4
5
Baigta iteracija

In [ ]:
sarasas = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

iteruotas_sarasas = iter(sarasas)

while True:
    try:
        num = next(iteruotas_sarasas)
        if num % 2 == 0:
            print(num)
    except StopIteration:
        print("Stai ir jusu skaiciai")
        break

2
4
6
8
10
Stai ir jusu skaiciai

In [ ]:
zodynas = {"A":1, "B":2, "C":3, "D":4, "E":5, "F":6 }

iter_zodynas = iter(zodynas.items())

while True:
    try:
        key, value = next(iter_zodynas)
        if value > 4:
            print(key)
    except StopIteration:
        break

E
F

In [ ]:
tekstas = "Uzduotis pagaliau padaryta"

zodziai = (len(zodis) for zodis in tekstas.split())

for ilgis in zodziai:
    print(ilgis)

8
8
8

In [ ]:
input_list = ['apple', 'banana', 'cherry']

list = (len(word) for word in input_list)

for length in list:
    print(length)

5
6
6

In [ ]:
    
def ar_pirminis(n):
    if n < 2:
        return False
    for number in range(2,n):
        if n % number == 0:
            return False
    return True

def pirminiai_skaiciai_iki_n (skaicius):
    for n in range(2, skaicius):
        if ar_pirminis(n):
            yield n

pirminiai_generatorius = pirminiai_skaiciai_iki_n()

for skaicius in pirminiai_generatorius:
    print (skaicius)

2
3
5
7
11
13
17
19
23
29

In [ ]:

numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
def solution(numbers):
    num_list = []
    for num in numbers:
        if num <= 0:
            num == 0
        elif num % 3 == 0 or num % 5 == 0:
            num_list.append(num)
    return num_list

filtered_numbers = solution(numbers)
sum_filtered_numbers = sum(solution(filtered_numbers))  

print(sum_filtered_numbers)

23

In [ ]:
numbers = [3, 5, 10, 15, 20, -23]
num_list = []
for num in numbers:
    if num <= 0:
        print(0)
        break
    if num % 3 == 0 or num % 5 == 0:
        num_list.append(num)
sum_num = sum(num_list)
print(sum_num)

0
53

In [ ]:
class Studentas:
    def __init__(self, vardas, pavarde, amzius):
        self.vardas = vardas
        self.pavarde = pavarde
        self.amzius = amzius

    @property
    def pilnas_vardas(self):
        return f"{self.vardas} {self.pavarde}"
    
    @staticmethod
    def ar_pilnametis( age):
        return age >= 18
        

    @classmethod
    def sukurti_studenta(cls, vardas: str, pavarde: str, amzius: int):
        cls.vardas = vardas
        cls.pavarde = pavarde
        cls.amzius = amzius
        return cls(vardas, pavarde, amzius)



studentas1 = Studentas.sukurti_studenta("Petras", "Anskaitis", 26)

print(studentas1.pilnas_vardas)
print(studentas1.ar_pilnametis(studentas1.amzius))

Petras Anskaitis
True

In [105]:

def paversti_didziosiomis(funkcija):
    def wrapper(*args, **kwargs):
        new_args = [arg.upper() for arg in args]
        new_kwargs = {key: val.upper() for key, val in kwargs.items()}
        return funkcija (*new_args, **new_kwargs)
    return wrapper

In [107]:
@paversti_didziosiomis
def enter_name (name, last_name):
    full_name = name + last_name
    return full_name

vardas = (enter_name("petras ", "anskaitis"))
print(vardas)

PETRAS ANSKAITIS

In [111]:

def descending_order(num):
    str_num = str(num)
    output_numbers = []
    for number in str_num:
        output_numbers.append(int(number))
    output_numbers

print(descending_order(123))

[1, 2, 3]

In [109]:
a = 123456
b = str(a)
c = []

for digit in b:
    c.append (int(digit))

print (c)

[1, 2, 3, 4, 5, 6]